{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="u-full-width">
            <thead>
            <th>Name</th>
            <th>Action</th>
            </thead>
            {% do pagination.setTemplate('::pagination.html.twig') %}
            <tfoot>
            <tr>
                <td colspan="2">
                    {{ knp_pagination_render(pagination) }}
                </td></tr>
            </tfoot>
            <tbody>
            {% for region in pagination %}
                <tr>
                    <td>{{ region.name }}</td>
                    <td><a href="{{ path('region_teams', {'id' : region.id}) }}">Add teams</a></td>
                </tr>
            {%  else %}
                <tr><td>No stages found</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}