{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="u-full-width bordered">
            <thead>
            <th>Name</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</td>
                    <td>{% if match.status == 0 or match.status == 2 %}<a href="{{ path('get_match_data', {'id' : match.id}) }}">Get data</a>{% endif %}</td>
                </tr>
            {%  else %}
                <tr><td colspan="2">No matches found</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button button-primary" href="{{ path('download-fixtures') }}">Add fixtures</a>
    </div>
{% endblock %}