<tr>
    <td>Latest 5</td>
    <td><div class="goal-content"><div class="goal-title">{{ stats.gpg_five }} GPG</div><div class="goal-description">scored in {{ stats.scored_five }} games</div></div></td>
</tr>
<tr>
    <td>Latest 10</td>
    <td><div class="goal-content"><div class="goal-title">{{ stats.gpg_ten }} GPG</div><div class="goal-description">scored in {{ stats.scored_ten }} games</div></div></td>
</tr>