{% for player in players %}<tr {% if loop.index0 is divisible by(2) %}class="even"{% endif %} player-id="{{ player.id }}"><td style="font-weight: bold">{{ player.knownName }}</td><td>{{ player.team.name }}</td><td>{{ player.age }}</td></tr>
{% else %}<tr><td>No results</td></tr>
{% endfor %}