{% for player in players %}<tr player-id="{{ player.id }}"><td style="font-weight: bold">{{ player.knownName }}</td><td>{{ player.team.name }}</td></td><td>{{ player.age }}</td></tr>
{% else %}<tr><td>No results</td></tr>
{% endfor %}