/* Beginning of result div and table */
#result_div
{
    position: absolute;
    background-color: white;
    font-size: 13px;
    display: none;
    margin: 0 auto;
    line-height: normal;

    max-width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #E1E1E1;
    z-index: 1001;
    overflow: auto;
}



#result_div table
{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-spacing: 0;
}

#result_div table tr:last-child td
{
    border-bottom: none;
}

#result_div table td:first-child
{
    padding-left: 9px;
}

.hover
{
    background-color: rgb(236, 236, 236);
}

/* End of result div and table */

/* Beginning of search input */
.ajax_loader
{
    background-size: 25px;
    background-image: url('../../../green_loader.gif');
    background-repeat: no-repeat;
    background-position: 98% 46%;
}

@media(max-width:767px){
    .feature
    {
        text-align: center;
    }

    .feature_desc
    {
        margin-top: 10px;
    }
}